*{
    /* display: flex;
    text-align: center; */
    margin: 0;padding: 0;
    
}
.head{
    background: url(/space.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    
}
.overlay{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.title{
    margin-top: 2vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
}
.col{
    margin-top: 5vh;
    height: 10vh;
    /* border: 2px solid white; */
    display: flex;
    /* align-items: center;
    align-content: center; */
    justify-content: center;
    
}
input{
    display: block;
    height: 10vh;
    width: 10vh;
    margin: 0px 2vw; 
    border: 1px solid seashell;
    border-radius: 5px;  
}
.text{
    align-items: center;
    text-align: center;
    font-size: large;
}